extends layout

block content
  - const progress = Math.round((comments_cnt.positive + comments_cnt.neutral + comments_cnt.negative) / comments_cnt.all * 100);

  .clearfix
    .float-left
      .badge
        | Positive: #{comments_cnt.positive}
      .badge
        | Neutral: #{comments_cnt.neutral}
      .badge
        | Negative: #{comments_cnt.negative}
    .float-right
      = `${progress}%`

  .progress
    .progress-bar(style=`width: ${progress}%`)
  br
  h3
    span.text-muted Post title:&nbsp;
    strong= post.title

  include partials/pagination

  ul.list-group
    for comment in comments
      li.list-group-item
        .row
          .col-md-9
            div !{comment.body}
          .col-md-3
            .btn-group.float-right
              if sentiment.positive == comment.positiveness
                .btn.btn-sm.btn-success(data-comment-id=comment._id, data-point=sentiment.positive) Positive
              else
                .btn.btn-sm.btn-outline-success(data-comment-id=comment._id, data-point=sentiment.positive) Positive

              if sentiment.neutral == comment.positiveness
                .btn.btn-sm.btn-secondary(data-comment-id=comment._id, data-point=sentiment.neutral) Neutral
              else
                .btn.btn-sm.btn-outline-secondary(data-comment-id=comment._id, data-point=sentiment.neutral) Neutral

              if sentiment.negative == comment.positiveness
                .btn.btn-sm.btn-danger(data-comment-id=comment._id, data-point=sentiment.negative) Negative
              else
                .btn.btn-sm.btn-outline-danger(data-comment-id=comment._id, data-point=sentiment.negative) Negative

  include partials/pagination

  script.
    const comment_ids = [#{comments.map(comment => comment._id)}];

    $('body').on('click', '[data-comment-id]', function() {
      const comment_id = $(this).attr('data-comment-id');
      const positiveness = $(this).attr('data-point');
      const self = $(this);

      $.ajax({
        url: `/api/comments/${comment_id}`,
        type: 'PUT',
        data: {
          positiveness,
          comment_ids
        },
        success: function(data) {
          if (positiveness == sentiment.negative) {
            self.removeClass('btn-outline-danger').addClass('btn-danger');
            self.siblings('[data-point=1]').removeClass('btn-secondary').addClass('btn-outline-secondary');
            self.siblings('[data-point=2]').removeClass('btn-success').addClass('btn-outline-success');
          } else if (positiveness == sentiment.neutral) {
            self.removeClass('btn-outline-secondary').addClass('btn-secondary');
            self.siblings('[data-point=0]').removeClass('btn-danger').addClass('btn-outline-danger');
            self.siblings('[data-point=2]').removeClass('btn-success').addClass('btn-outline-success');
          } else if (positiveness == sentiment.positive) {
            self.removeClass('btn-outline-success').addClass('btn-success');
            self.siblings('[data-point=0]').removeClass('btn-danger').addClass('btn-outline-danger');
            self.siblings('[data-point=1]').removeClass('btn-secondary').addClass('btn-outline-secondary');
          }
        }
      });
    });
